[submodule "monex_onestock"]
	path = monex_onestock
	url = https://github.com/yonedahayato/monex_onestock.git
[submodule "stock_strategy"]
	path = stock_strategy
	url = https://github.com/yonedahayato/stock_strategy.git
